.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.63rem 2.25rem;
    background-color: #FFF7ED;
}

.logo {
    font-size: 1.58rem;
    font-weight: 900;
    color: #000;
    line-height: 1.59;
}

.nav {
    display: flex;
    gap: 20px;
}

.header-link {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.43;
    color: #4D4D4D;
}